---
import BaseHead from '../components/BaseHead.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img src="/main.webp" alt="主視覺" class="w-full rounded-lg mb-6 mt-16 md:mt-0" />
			<h1 class="text-xl text-primary pb-2">啟程</h1>
			<p>
				歡迎光臨，這裏是關於網頁開發的學習旅程，將一邊學習一邊把理解轉化成圖文筆記。如果內容中有錯誤，歡迎指教，也希望這些筆記能陪你一起在學習的路上走一小段路。
			</p>
			<h1 class="text-primary text-xl font-semibold py-10 text-center">. . .</h1>
			<h1 class="text-xl text-primary">散步地圖</h1>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
				<Card
					image="https://placehold.co/400x200/009291/white?text=前端"
					title="前端"
					description="Tailwind CSS / JavaScript / React"
				/>
				<Card
					image="https://placehold.co/400x200/009291/white?text=後端"
					title="後端"
					description="API 與資料庫"
				/>
				<Card
					image="https://placehold.co/400x200/009291/white?text=UIUX"
					title="UIUX"
					description="使用者介面與體驗設計"
				/>
				<Card
					image="https://placehold.co/400x200/009291/white?text=心得分享"
					title="心得分享"
					description="什麼都分享"
				/>
			</div>
	
		</main>
		<Footer />
	</body>
</html>
