---
import BaseHead from '../components/BaseHead.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="overflow-hidden rounded-xl mb-6">
				<img src="/main.webp" alt="主視覺" class="w-full" />
			</div>
			<h1 class="text-xl text-primary pb-0 md:pb-2">啟程</h1>
			<p>
				歡迎來到程式散步，我是經營這裡的小旅人 Jae。這裡分享的是我在網頁開發上的學習旅程，希望這趟旅途像散步，每一步不必很大，但都能保持自己的步調。如果內容中有任何錯誤，歡迎指教。
			</p>
			<div class="text-right mt-4">
				<a href="/notes" class="inline-flex items-center gap-0.5 px-3 py-1.5 text-primary rounded-xl border border-gray-200 shadow-md hover:bg-secondary hover:text-white hover:shadow-lg transition-all">
					探索筆記
					<svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
					</svg>
				</a>
			</div>
			<h1 class="text-primary text-xl font-semibold py-6 md:py-10 text-center">. . .</h1>
			<h1 class="text-xl text-primary">散步地圖</h1>
			<p>這裡預計會有的筆記主題：</p>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 mt-2 md:mt-4">
				<a href="/notes?category=前端">
					<Card
						image="/01.webp"
						title="前端"
						description="Tailwind CSS / React"
					/>
				</a>
				<a href="/notes?category=後端">
					<Card
						image="/02.webp"
						title="後端"
						description="Ruby on Rails"
					/>
				</a>
				<a href="/notes?category=UIUX">
					<Card
						image="/03.webp"
						title="UIUX"
						description="Figma / 介面設計"
					/>
				</a>
				<a href="/notes?category=其他">
					<Card
						image="/04.webp"
						title="其他"
						description="Git / AWS / 心得分享"
					/>
				</a>
			</div>
			<h1 class="text-primary text-xl font-semibold py-6 md:py-10 text-center">. . .</h1>
			<h1 class="text-xl text-primary">許願池</h1>
			<p>留下想了解的主題或想說的話，許願不用錢，不論是金願望還是銀願望，有許總是多個機會！</p>
			<div class="my-2 md:my-6 ">
				<script src="https://giscus.app/client.js"
					data-repo="comea22/comea22.github.io"
					data-repo-id="R_kgDOQskEGw"
					data-category="Announcements"
					data-category-id="DIC_kwDOQskEG84C0ExV"
					data-mapping="pathname"
					data-strict="0"
					data-reactions-enabled="0"
					data-emit-metadata="0"
					data-input-position="bottom"
					data-theme="light"
					data-lang="zh-TW"
					crossorigin="anonymous"
					async>
				</script>
			</div>

		</main>
		<Footer />
	</body>
</html>
