---
interface Props {
	image: string;
	title: string;
	description: string;
	alt?: string;
}

const { image, title, description, alt = title } = Astro.props;
---

<div class="rounded-xl overflow-hidden shadow-md bg-white h-44 md:h-48">
	<img src={image} alt={alt} class="w-full h-36 object-cover rounded-t-xl rounded-b-none" />
	<div class="p-4">
		<h3 class="text-lg font-bold text-primary">{title}</h3>
		<p class="text-gray-dark text-sm mt-2">{description}</p>
	</div>
</div>
