---
const today = new Date();
---

<footer class="pt-8 px-4 pb-8 bg-[#c3ddda] text-gray-500 text-center">
	&copy; {today.getFullYear()} 程式散步 A calming walk in web dev.
	<p>All rights reserved.</p>
</footer>
