---
const today = new Date();
---

<footer class="pt-8 px-4 pb-8 bg-[#c3ddda] text-gray-500 text-center text-sm md:text-base">
	<p>&copy; {today.getFullYear()} 程式散步 A calming walk in web dev.</p>
	<p>All rights reserved.</p>
	<p>Crafted with <a href="https://astro.build/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-secondary transition-colors">Astro</a> and passion.</p>
</footer>
